################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
/.vs
/Module 2/Configuration/.vs/Configuration
/Module 2/Configuration/obj
/Module 2/Configuration/bin/Debug/netcoreapp2.1
/Module 2/DI/obj
/Module 2/DI/bin/Debug/netcoreapp2.1
/Module 2/Server/obj
/Module 2/Server/bin/Debug/netcoreapp2.1
/Module 2/Server/.vs/Server/v15/Server/sqlite3
/Module 2/Middleware/obj
/Module 2/Middleware/bin/Debug/netcoreapp2.1
/Module 2/Host/obj
/Module 2/Host/bin/Debug/netcoreapp2.1
/Module 2/GenericHostSample/obj
/Module 2/GenericHostSample/bin/Debug/netcoreapp2.1
/Module 2/GenericHostSample/.vs/GenericHostSample/v15/Server/sqlite3
/Module 2/Host/WebHost/obj
/Module 2/Host/WebHost/bin/Debug/netcoreapp2.2
/Module 2/Host/WebHost/.vs/WebHost/v15/Server/sqlite3
/Module 2/Host/GenericHost/obj
/Module 2/Host/GenericHost/bin/Debug/netcoreapp2.2
/Module 2/Host/WebHost/.vs/
/Module 2/Configuration/.vs/config
/Module 2/ConfigApp/obj
/Module 2/ConfigApp/bin/Debug/netcoreapp2.2
/Module 2/Logging/LoggingApp/obj
/Module 2/Logging/LoggingApp/bin/Debug/netcoreapp2.2
/Module 2/ErrorHandling/obj
/Module 2/ErrorHandling/bin/Debug/netcoreapp2.2/ErrorHandling.runtimeconfig.json
/Module 2/ErrorHandling/bin/Debug/netcoreapp2.2/ErrorHandling.runtimeconfig.dev.json
/Module 2/ErrorHandling/bin/Debug/netcoreapp2.2/ErrorHandling.deps.json
/Module 2/ErrorHandling/bin/Debug/netcoreapp2.2
/Module 3/RazorPages/obj
/Module 3/MvcApp/bin/Debug/netcoreapp2.2
/Module 3/MvcApp/obj
/Module 3/RazorPages/bin/Debug/netcoreapp2.2
/Module 3/TagHelpers/obj
/Module 3/TagHelpers/bin/Debug/netcoreapp2.2
/Module 3/TagHelpers/bin/Debug/netcoreapp2.1
~$Asp-net-core IQuest.pptx
